<h1>Admin >> Dashboard</h1>


<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Database Info</th>
        <th>Total Count</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Products</td>
        <td><%= @product %></td>
        <td><a href="/admin/products"> All Products </a></td>
      </tr>
      <tr>
      <td>Categories</td>
      <td><%= @category %></td>
      <td><a href="/admin/categories"> All Categories </a></td>
    </tr>
    </tbody>
  </table>
</div>

