<section>
  <header class="page-header">
    <h1>About#index</h1>
  </header>

  <h4> Welcome to the wonderful world of Jungle! <br><br>
  Here you will find a highly curated list of the oddest items in the world. <br><br> 
  We pride ourselves on the unusual selection of goods for your home! </h4>

  <div> <a href="/products">Browse our products</a></div>

</section>